maxmemory 512mb
maxmemory-policy noeviction

appendonly yes
auto-aof-rewrite-percentage 25
auto-aof-rewrite-min-size 64mb

tls-cert-file /tls/redis.crt
tls-key-file /tls/redis.key
tls-ca-cert-file /tls/ca.crt
tls-dh-params-file /tls/redis.dh
tls-auth-clients no

port 0
tls-port 6379

aclfile /usr/local/etc/redis/redis.acl
